*.json
*.log
!smss.example.json
MiscreatedServer
Pipfile*
SMSSv2_download.py
SteamCMD
debug
debug.txt
latest_release
local_release
python
scriptvars
skip
skip.txt
smss-configurator*
stop
stop.txt
temp
test.cmd